header {
    background-color: #d4dacb;
    padding: 10px 15px;
    max-width: 1000px;
    margin: 0 auto;
}
body {
    background-color: #6e1e2b;
    line-height: 1.5;
}
h1 {
    color: #6e1e2b;
    text-align: center;
    font-family: "Cinzel Decorative", serif;
    font-weight: 800;
}
h2 {
    color: #6e1e2b;
    font-size: larger;
    font-family: "Cinzel Decorative", serif;
    font-weight: 700;
}
h3 {
    color: #6e1e2b;
    text-align: left;
    font-size: medium;
    font-family: "Cinzel Decorative", serif;
    font-weight: 600;
}
h4 {
    color: #d18389;
    font-family: "Cinzel Decorative", serif;
    font-weight: 800;
    font-size: larger;
}
.subheader {
    color: #2b6398;
    text-align: center;
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: italic;
}
.nav-bar {
    text-align: center;
    margin: 10px;
    display: flexbox;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}
.nav-bar a {
    text-decoration: none;
    color: #c45275;
    padding: 0.25rem;
}
.nav-bar a:hover {
    color: #588d26;
}
main.container {
    max-width: 50em;
    margin: 0 auto;
    padding: 1rem;
}
p {
    text-align: left;
    color: #d4dacb;
    font-family: "Ovo", serif;
    line-height: 1.4;
}
a {
    color: #d18389;
}
.float-left {
    float: left;
    max-width: 200px;
    margin: 0 1rem 1rem 0;
}
.float-right {
    float: right;
    max-width: 200px;
    margin: 0 0 1rem 1rem;
}
.clearfix {
    clear: both;
}
.verse {
    margin: 0 1rem;
    clear: both;
}
.verse pre {
    line-height: 1.2;
    margin: 0;
    color: #d4dacb;
    font-family: "Ovo", serif;
}
.poem {
    margin: 0 0 0 1rem;
    clear: both;
}
.poem pre {
    display: block;
    text-align: left;
    line-height: 1.2;
    max-width: 400px;
    margin: 5%;
    color: #d4dacb;
    font-family: "Ovo", serif;
}
.next-button {
                text-align: center;
                margin-top: 2em;
                margin-bottom: 1em;
            }
.next-button a {
                background-color: #2b6398;
                color: white;
                padding: 0.75em 2em;
                font-size: 1.2em;
                text-decoration: none;
            }
.next-button a:hover {
                background-color: #1f436f;
            }
.nav-bar bottom {
    display: inline;
}
.footer-banner {
    background-color: #d4dacb;
    padding: 15px;
}
ol {
    list-style: none;
}
footer {
    text-align: center;
    font-size: smaller;
    font-family: "Cormorant Garamond", serif;
    color: #c45275;
}